#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_de_swiss.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // LAYER 0
            display-name = "Base";

            bindings = <
                &kp F1
                &kp ESC
                &kp 1
                &kp GRAVE
            >;
        };
    };
};
