&pro_micro_spi {
    status = "okay";
    cs-gpios = <&pro_micro 14 GPIO_ACTIVE_LOW>;
    shifter: gpio595@0 {  /*The @0 number marks the index of the cs-gpios pin used to control a device.*/
        compatible = "zmk,gpio-595";
        status = "okay";
        gpio-controller;
        spi-max-frequency = <200000>;
        reg = <0>;
        #gpio-cells = <2>;
        ngpios = <8>;      
    };
};


/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios =
            <&shifter 0 GPIO_ACTIVE_HIGH>,
            <&shifter 1 GPIO_ACTIVE_HIGH>,
            <&pro_micro 16 GPIO_ACTIVE_HIGH>;

        row-gpios =
            <&pro_micro 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&pro_micro 7  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
            <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };
};
